@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

$default-font: 'Inter', sans-serif;
$purply: rgba(78, 20, 140, 1);
$lavender: rgba(133, 138, 227, 1);
$light-lavender: rgba(232, 235, 242, 1);
$white: #f7f9f7;
